# Python Einführung
Hier wollen wir Python kennenlernen.

In [1]:
print("Hallo zusammen!")

Hallo zusammen!

In [4]:
# Dies ist ein Kommentar
print ("Etwas")

Etwas

In [11]:
print (name)

NameError: name 'name' is not defined

In [15]:
# Variablen und Ihre Wertezuweisungen'
name = "Lovelace"

In [16]:
print(name)

Lovelace

In [17]:
name

'Lovelace'

In [18]:
# String - Zeichenkette
first_name = "Ada"
print (first_name)

Ada

In [19]:
# Integer - Ganzzahlen
age = 37
print(age)

37

In [20]:
# Float - Gleitkommazahlen
size = 1.7123
print(size)

1.7123

In [21]:
# Boolean - Boolsche Werte
knows_math = True
print(knows_math)
likes_gardening = False
print(likes_gardening)

True
False

In [23]:
# Datentyp anzeigen
type(name)

str

In [24]:
type(age)

int

In [25]:
name

'Lovelace'

In [26]:
name
age

37

In [27]:
print (name)
print (age)

Lovelace
37

In [28]:
print (name, age)

Lovelace 37

In [29]:
%whos

Variable          Type     Data/Info
------------------------------------
age               int      37
first_name        str      Ada
knows_math        bool     True
likes_gardening   bool     False
name              str      Lovelace
size              float    1.7123

# Operatoren

In [30]:
5+5

10

In [31]:
age*100

3700

In [32]:
name + name

'LovelaceLovelace'

In [33]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [34]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [35]:
name +"10"

'Lovelace10'

In [36]:
age / size

21.608363020498746

In [37]:
number_of_articles = "50"

In [38]:
numver_ofarticles / 10

NameError: name 'numver_ofarticles' is not defined

In [39]:
int(number_of_articles) / 10

5.0

# Funktionen und Methoden

In [40]:
# Funktion
len(name)

8

In [71]:
# Methode ist hier name (oder .upper?!) mit Argument upper welches leer ist
name.upper()

'LOVELACE'

In [42]:
# Methode mit Argument
name.count("e")

2

In [43]:
name.count("l")

1

In [44]:
name

'Lovelace'

In [45]:
name.upper().count("L")

2

In [46]:
# man muss auf die Leerzeichen in diesem Fall achten
name.replace("lace", " is everywhere")

'Love is everywhere'

# Listen und Dictionaries

In [47]:
names = ["Loevelace", "Darwin", "Noether", "Hawking"]

In [48]:
names

['Loevelace', 'Darwin', 'Noether', 'Hawking']

In [49]:
names [0]

'Loevelace'

In [51]:
# das erste Element ist inklusiv das letzte exklusiv daher wird nicht Hawking mit ausgegeben so obwohl dieser names 3 wäre
names [0:3]

['Loevelace', 'Darwin', 'Noether']

In [52]:
names [2:]

['Noether', 'Hawking']

In [53]:
# in der geschweiften Klammer sind die key values drin
authors_and_birth_year = {"Lovelace": 1815,
                         "Darwin": 1908,
                         "Noether": 1882,
                         "Hawking": 1942}

In [54]:
names [:2]

['Loevelace', 'Darwin']

In [55]:
# die keys stehen in eckiger Klammer
authors_and_birth_year ["Darwin"]

1908

In [56]:
# 
authors_and_birth_year.keys ()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

# for-Schleife

In [57]:
names

['Loevelace', 'Darwin', 'Noether', 'Hawking']

In [60]:
# in der shell files statt person, in shell schleife mit do and done 
for person in names:
    print(person + " did awesome stuff")

Loevelace did awesome stuff
Darwin did awesome stuff
Noether did awesome stuff
Hawking did awesome stuff

In [61]:
for person in names:
    print(person + " did awesome stuff")
print("------")

Loevelace did awesome stuff
Darwin did awesome stuff
Noether did awesome stuff
Hawking did awesome stuff
------

In [62]:
# die Schleife enthält hier jedesmal den print
for person in names:
    print(person + " did awesome stuff")
    print("------")

Loevelace did awesome stuff
------
Darwin did awesome stuff
------
Noether did awesome stuff
------
Hawking did awesome stuff
------

In [63]:
# immer nur das letzte Element wird angesprochen - in diesem Fall Hawking
person

'Hawking'

# Bedingte Anweisung (Conditional)

In [65]:
temp = 20
if temp > 15:
    print ("Es ist warm")

Es ist warm

In [67]:
20 > 15

True

In [69]:
temp = 10
if temp > 15:
    print ("Es ist warm")
else:
    print("Es ist kalt.")

Es ist kalt.

In [70]:
# Die Reihenfolge ist wichtig der Konditionen, damit es sinnvoll ist - hier in dem Fall die Temperaturen, denn wenn die erste Bedingung bereits erfüllt ist, wird diese ausgegeben
temp = 30
if temp >= 25:
    print ("Es ist heiß")
elif temp >= 15:
        print ("Es ist warm")
else:
    print("Es ist kalt.")

Es ist heiß